@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@utility container {
  margin: auto;
  padding: 0 16px;
}
@utility py-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

@theme {
  --color-brand: #008ecc;
  --color-primary: #666666;
  --color-secondary: #f5f5f5;
  --color-third: #f3f9fb;
  --color-theme: #fff;
  --font-primary: "Roboto", sans-serif;
}
body {
  @apply font-primary;
}

.slick-dots li.slick-active div {
  width: 24px !important;
}

@layer components {
  .heading {
    @apply font-bold text-2xl text-primary;
  }
  .heading span {
    @apply text-brand;
  }
}
